.center-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 10px;
  }
  
  router-outlet {
    display: flex;
    justify-content: center; /* Center the content inside the outlet */
    align-items: center; /* Center the content vertically */
    height: 100%; /* Make it take the full height of the parent */
  }
  